.gridItem {
    padding: 5vh;
}


.cardGrid {
    padding-top: 15vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    height: 35vh;
    width: 25vh;
    background-image: url(/img/map.jpg);
    border: 2px solid black;
    border-radius: 5%;
}

.cardDetail {
    margin: auto;
    height: 25%;
    text-align: center;
    background-color: azure;
    font-size: 2.5vh;
    font-weight: bold;
}

.iconCard img{
    height: 10vh;
    width: 10vh;
    display: block;
    margin: 15px auto;
}

 /* Responsive layout */
  @media (min-width: 800px) {
    .cardGrid {
      flex-direction: row;
    }
  }