* {
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

body,
html {
    margin: 0;
    padding: 0;
    color: black;
    font-family:'Montserrat';
}

.header {
    width: 100%;
    height: 150px;
    text-align: left;
    background-color:black ;
    color: white;
    font-style: italic;
}

.header h1 {
    text-align: center;
    font-size: 40px;
}
.menu {
    width: 100%;
    height: 75px;
    background-color: dimgray;

}

.imagenNav {
    width: 25px;
    height: 25px;
    margin: 25px 0 0 25px;
    
}


ul {

    display: inline-block;
}
ul li {
    display: inline;
}

.container {
    margin-top: 100px;
    margin-left: 25px;

}

p {
    margin-right: 25px;
    font-size: 25px;
}